.listStyle{
    list-style: none;
    padding: 0 1rem;
    border: 2px solid black;
    margin: 0;
}

ul {
    padding: 0;
}

.song {
    width: 90%;
    display: inline-block;
}

.btn {
    padding: 0.5rem;
    margin: 0 1rem;
}